/* HEADER */

a {
  color: inherit;      /* Inherits the color of the parent element (e.g., the body or container) */
  text-decoration: none; /* Removes underline */
}
.header {
  position: relative;
  padding: 32px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-family: 'Libre Barcode 39 Extended Text', cursive;
  font-size: 6vw;
  white-space: nowrap;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  position: relative;
}

.nav-item {
  font-size: 1rem;
  font-weight: 600;
  color: #9E9E9E;
  cursor: pointer;
  position: relative;
}

.nav-item.active {
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

/* Dropdown Menu Styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;  /* Initially hidden */
  position: absolute;  /* Make it float below the parent */
  top: 100%;  /* Position it right below the parent item */
  left: 0;
  background-color: #0B1926;
  border-radius: 8px;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .dropdown-item {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 10px;
  display: block; /* Ensure links are block elements */
}

.dropdown-content .dropdown-item:hover {
  background-color: #444;
}

/* Show dropdown content on hover */
.nav-item:hover .dropdown-content {
  display: block;
}

/* Upload button styles */
.upload-btn {
  padding: 12px 32px;
  background: white;
  color: #0B1926;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 600;
  white-space: nowrap;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .nav {
    display: none; /* Hide the navigation bar by default */
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background: #0B1926;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
  }

  .nav-item {
    color: white;
  }

  .nav-item.active {
    border-bottom: none;
    color: #9E9E9E;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav.open {
    display: flex; /* Show the nav when the menu is open */
  }

  .hamburger div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }
}
