
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #050E16;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


/*Bar de navigation uwu*/
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    font-weight: 600;
}

nav a:hover {
    color: #FF6B6B;
    transition: color 0.3s ease;
    /*Faire que ça grossisse aussi*/
}


/*Upload bouton*/

.upload-btn {
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-weight: 600;
    cursor: pointer;
}


main {
    text-align: center;
    margin-top: 80px;
}


