
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #050E16;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


/*Bar de navigation uwu*/
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    font-weight: 600;
}

nav a:hover {
    color: #FF6B6B;
    transition: color 0.3s ease;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/*Logo*/

.title {
    font-size: 24px;
    letter-spacing: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.barcode {
    font-family: monospace;
    font-size: 18px;
    margin-right: 10px;
}

/*Upload bouton*/

.upload-btn {
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-weight: 600;
    cursor: pointer;
}

.upload-btn:hover {
    background-color: #FF6B6B;
    color: white;
    transition: background-color 0.3s ease;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    
}


main {
    text-align: center;
    margin-top: 80px;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.5;
}

.intro {
    text-align: center;
    margin-top: 100px;
}

.intro h1 {
    font-size: 2.5em;
    font-weight: bold;
}

.highlight {
    color: red;
}

.intro p {
    font-size: 1.2em;
    color: #ccc;
    margin-top: 20px;
}

.library-btn {
    background-color: #bb2e2e;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}



/*Ptits carrés*/
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 80px 40px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    height: 100px;
    width: 100px;
}

.card1 { height: 150px; width: 150px; }
.card2 { height: 100px; width: 100px; }
.card3 { height: 120px; width: 120px; }
.card4 { height: 140px; width: 140px; }
.card5 { height: 180px; width: 180px; }
.card6 { height: 80px; width: 80px; }

