
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #050E16;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}